.movie_info {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 10px;
    color: grey;
    h2 {
        margin-top: 0px;
    }
    width:250px;
}

img {
    display: inline-block
}