    @import "./variables";
    nav {
        a {
            position: relative;
            margin-left: 15px;
            font-size: 1em;
            font-style: strong;
            color: $font-color;
            text-decoration: none;
            padding: 10px 10px;
            line-height: 50px;
        }
    }
    
    .title {
        margin-left: 50px;
    }
    
    .navigation-bar {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .navbar-default .navbar-brand {
        color: red;
    }