/* You can add global styles to this file, and also import other style files */

$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
body {
    background-color: $bgcolor;
    color: $textcolor;
    font-size: $fontsize;
}