/* You can add global styles to this file, and also import other style files */

@import "../src/app/variables.scss";
body {
    font-family: Arial, "Times New Roman", Times, serif;
    background-color: $bgcolor;
    color: $textcolor;
    font-size: $fontsize;
}