input {
    color: black;
    border-radius: 3px;
    border-style: solid;
    //outline: none;
    //border: none;
    &:focus {
        //outline-offset: -2px;
        //outline-color: #f5c518;
        border-color: #f5c518;
        outline: none;
    }
}

.container-foundMovies {
    margin-top: 30px;
    .movies-presented {
        div.title {
            height: 40px;
            line-height: 40px;
            background-color: white;
            max-width: 200px;
            max-height: 160px;
            padding: -5px;
            div {
                display: inline-block;
                vertical-align: bottom;
                line-height: 1em;
                font-size: 1em;
                color: black;
                // display: inline-block;
                // font-size: 1em;
                // line-height: 0.8em;
                // vertical-align: bottom;
                // max-width: 300px;
            }
        }
        img {
            margin-bottom: 20px;
            width: 200px;
            height: 300px;
        }
    }
}