<h2>Featured movies</h2>

<div class="col-sm-4 col-md-4 " *ngFor="let movie of movies">
    <img src="assets\posters\{{movie.Poster}}">
    <div class="movie_info">
        <div>
            <span class="title">Title: </span>
            <span>{{movie.Title}}</span>
        </div>
        <div>
            <span class="year">Year: </span>
            <span>{{movie.Year}}</span>
        </div>
        <div>
            <span class="awards">Awards: </span>
            <span>{{movie.Awards}}</span>
        </div>
        <div>
            <span class="plot">Plot: </span>
            <span>{{movie.Plot}}</span>
        </div>
    </div>

</div>