    img {
        object-fit: cover;
        max-width: 300px;
        max-height: 300px;
    }
    
    .movie_info {
        text-align: justify;
        font-size: 0.7em;
        max-width: 200px;
        margin-top: 20px;
        .title {
            font-weight: 600;
        }
        .year {
            font-weight: 600;
        }
        .awards {
            font-weight: 600;
        }
        .plot {
            font-weight: 600;
        }
    }